.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary);
    border-bottom: 3px solid #000000;
}

.header__logo{
    color: #ffffff;
    font-size: 2rem;
}

.header__nav ul{
    display: flex;
}

.header__nav ul li{
    list-style: none;
}

.header__navLink{
    text-decoration: none;
    color: #ffffff;
    padding: 3px 6px;
    transition: 0.3s ease-in-out;
}

.header__navLink:hover{
color: #000000;
}

.header__navLink.active{
    border-radius: 3px;
    background-color: #ffffff;
    color: #000000;
}

.header__navLink.active:hover{
    color: var(--primary);
}